@use "../conf.scss";
@use "../color.scss";
@use "../mixin.scss" as *;

.base
{
    border: {
        width: 2px;
        style: outset;
        color: color.$border;
    }
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: .4em .7em;

    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: .04em;
    text-decoration: none;
    cursor: pointer;

    color: color.$btn-font;
    background: repeating-radial-gradient(
        ellipse,
        color.$btn-bg 5%,
        color.$btn-bg--2 9%,
        color.$btn-bg--3 12%,
        color.$btn-bg--2 14%
    );

    opacity: .8;

    @media (max-width: (conf.$breakpoint-mobile-big - 1))
    {
        width: 100%;
    }

    @media (min-width: conf.$breakpoint-mobile-big)
    {
        min-width: 8em;
    }

    &:hover,
    &:focus
    {
        opacity: 1;
    }

    &.is-active
    {
        color: color.$font;
    }

    &[disabled]
    {
        $opacity--disabled: .6;
        opacity: $opacity--disabled;
        cursor: not-allowed;
        filter: grayscale(1);

        &:hover,
        &:focus
        {
            opacity: $opacity--disabled;
        }
    }
}