@use "../../scss/conf.scss";
@use "../../scss/color.scss";
@use "../../scss/mixin.scss" as *;
@use "../../scss/ico.scss";

$main-ico-size: 6em;

.base
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    text-align: center;
    width: 100%;

    @media (min-width: conf.$breakpoint-mobile-big)
    {
        max-width: conf.$equipment-item-width;
    }

    @include ridgedBorder(color.$border);
    background: repeating-radial-gradient(
        ellipse farthest-corner at 30%,
        color.$item-bg--3 2%,
        color.$item-bg 5%,
        color.$item-bg--2 7%,
        color.$item-bg 12%
    );
}

.attrList
{
    display: grid;
    gap: .5em 1em;
    align-items: center;

    @media (min-width: conf.$breakpoint-mobile-big)
    {
        grid-template-columns: repeat(6, 1fr);
    }

    &::before
    {
        content: "";
        display: block;
        grid-column: 1/7;
        background: {
            repeat: no-repeat;
            size: $main-ico-size;
            position: center;
        }
        padding-top: $main-ico-size;
    }
}

.type
{
    &-Weapon
    {
        &::before
        {
            @include ico.weapon;
        }
    }

    &-Armor
    {
        &::before
        {
            @include ico.armor;
        }
    }

    &-Trinket
    {
        &::before
        {
            @include ico.trinket;
        }
    }
}

.label
{
    font-size: 0;
    width: conf.$ico-size;
    height: conf.$ico-size;
    justify-self: end;

    @media (max-width: (conf.$breakpoint-mobile-big - 1))
    {
        grid-column: 1;
    }

    &-name,
    &-type
    {
        display: none;
    }

    &-hpModifier
    {
        @include ico.base;
        @include ico.heart;
    }

    &-luckModifier
    {
        @include ico.base;
        @include ico.luck;
    }

    &-value
    {
        @include ico.base;
        @include ico.coin;
    }
}

.value
{
    justify-self: start;

    &-name
    {
        grid-column: 1/7;
        margin: .5em 0;
        font-size: 120%;
        line-height: 1.25;
        font-weight: bold;
        justify-self: center;
    }

    &-type
    {
        grid-column: 1/7;
        margin-bottom: 1rem;
        font-size: 70%;
        text-transform: uppercase;
        opacity: .9;
        justify-self: center;
    }
}

.btn
{
    margin-top: 2em;
}