@use "../../scss/conf.scss";

.base
{
    width: 100%;

    @media (min-width: conf.$breakpoint-mobile-big)
    {
        display: inline-grid;
        gap: 1em;
        grid-template-columns: repeat(auto-fill, minmax(conf.$equipment-item-width, 1fr));
        justify-items: stretch;
        align-items: stretch;
    }

    &--left
    {
        .item
        {
            justify-content: start;
        }
    }
}

.item
{
    display: flex;
    justify-content: center;

    @media (max-width: (conf.$breakpoint-mobile-big - 1))
    {
        margin: 1em 0;
    }
}