$bg: #090504;
$font: #f9e7c1;
$border: #835c44;
$border-light-h: #9b6352;
$border-light-v: #d0a67e;

$btn-font: #9c7653;
$btn-bg: #261000;
$btn-bg--2: #200e01;
$btn-bg--3: #2c1300;

$heading-bg: #191313;;
$heading-bg--2: #171113;
$heading-bg--3: #110b0d;
